@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.hamburger-icon{
    height: 20px;
    width: 20px;
}
.left-menu{
    padding: 10;
    margin: 10;
    width: 150px;
    float: left;
}

.left-menu a{
    text-decoration: none;
    display: block;
    margin: 10px 0px;
}

.left-menu-header-text{
    font-family: "Poppins";
    justify-content: space-around;
    align-items: center;
    width: 200px;
    background-color: rgb(230, 95, 46);
}
.triangle_down1 {
    position: relative;
    top: -5px;
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-right: 0.1em solid black;
    border-top: 0.1em solid black;
    transform: rotate(135deg);
    margin-right: 0.5em;
    margin-left: 1.0em;
  }